<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>projects-poly.tech</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="notification">
        <h2>Добро пожаловать на платформу по управлению проектами в Московском политехническом университете</h2>
        <p>На данный момент сайт находится в разработке, приносим свои извинения за предоставленные неудобства.</p>
    </div>
</body>
</html>
